div.container{
    font-family: 'Open Sans','Lato', Helvetica, sans-serif;
    color:#222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

/*    background: #444 url('../../../site-imgs/site/covers/Elegant_Background-5.jpg') repeat fixed;
    background-size: 100% 100%;*/
    cursor: url('../../../site-imgs/site/arrow.png'), default;
}




.navigation span{
    color:#fff !important;
    font-weight: bold;
}
.nav-stacked .nav-stacked span{
    color:#222 !important;
    font-weight: normal;
}
.arabic{
    font-family: 'Noto Kufi Arabic', serif;
    line-height: 1.5em;
}




/********************************Styling input type:file in css**************************************/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/**********************************************************************/



.options_box{
    border:2px solid #ccc;
    border-radius: 15px;
    padding:15px;
}
.options_box label{
    font-size:1.5em;
    clear:both;
    margin-bottom:10px;
}