
/******************** slider *************************/
.pix_diapo {
  height: 325px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 5px 0 0 0;
  border: 5px solid #D50000;
  border-radius: 0 0 50px 0;
}
.pix_diapo > div {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#pix_prev, #pix_next {
	cursor: pointer;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 1001;
}
#pix_prev {
	background: url(../images/prev.png) no-repeat;
	left: 10px;
}
#pix_next {
	background: url(../images/next.png) no-repeat;
	left: auto!important;
	right: 10px!important;
}
#pix_pag {
	margin: 0 auto;
	position: relative;
	width: 940px;
	z-index: 1002;
}
#pix_commands {
	cursor: pointer;
	display: block;
	float: left;
	height: 26px;
	margin: 15px 0 0 13px;
	position: relative;
	width: 24px;
	
}

.pix_relativize {
	overflow: hidden;
	position: relative;
}
.pix_relativize img{
	width: 100%;
}

.imgFake {
	cursor: pointer;
}
.elemHover {
	position: absolute;
}
.caption {
	background: rgba(0, 0, 0, 0.8);
    .filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)\9;
	bottom: 20px;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 20px;
	width: 900px;
}
.ui-loader {
	display: none;
}
