body{
	font-family:"HelveticaNeue";
	background:#000;
}

.padd-right{padding-right: 0}
.padd-left{padding-left: 0}

header{
	  background-color: #D70000;
  color: #fff;
  padding: 20px 0 70px 0;
  
}

.social{
	float: right;
}

.phone{
	float: left;
}

.phone div{
	float: left;
	margin: 0 15px 0 0;
}

.menu-main{
	  background-color: #fff;
  overflow: hidden;
  margin: -50px 0 0 0;
  border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px #000 inset;
}


.logo{
	text-align: center;
  padding: 10px 0;
}

.logo img{
	height: 85px;
}


.form-mass-home{
	  background-color: #D70000;
  overflow: hidden;
  padding: 15px 0;
    border-radius: 0 0 0 50px;
  margin: 5px 0 0 0;
}


.form-mass-home input[type="text"],
.form-mass-home input[type="tel"],
.form-mass-home input[type="email"]{
	margin: 0 0 10px 0;

  font-family: tahoma;
  text-align: right;
  padding: 18px 15px;
  border: 0;
  box-shadow: 0 0 10px #000;
}

.form-mass-home textarea{
		margin: 0 0 10px 0;

  font-family: tahoma;
  text-align: right;
  padding: 18px 15px;
  border: 0;
  box-shadow: 0 0 10px #000;
  height: 112px;
}


.form-mass-home .btn{
	  color: #FFF;
  background-color: #000;
  border:none;
  border-radius: 4px;
  padding: 8px;
  width: 55%;
  float: right;
}

.helight{
	height: 330px;
}

.body-content{
	background: #fff;
	  margin: -60px 0 0 0;
  padding: 100px 15px 0 15px;


	
}


.about-home{
	margin: 0 0 50px 0;
	text-align: center;
}


.tit-pro{
	width: 250px;
  margin: 50px auto;
  text-align: center;
  background-color: #D70000;
  color: #fff;
  padding: 15px;
  font-size: 17px;
  border-radius: 5px;
}


.client{
	background: #fff;
	text-align: center;
     
     	  z-index: 999;
  position: relative;
}


footer{
	  background-color: #D70000;
  margin: -50px 0 0 0;
  padding: 75px 0 0 0;
}



.photo-gallry-footer h3,.ser-footer h3,.about-footer h3{
	
	  margin: 0 0 10px 0;
  text-align: right;
  color: #fff;
  font-size: 17px;
  border-bottom: 1px solid #fff;
  padding: 0 0 10px 0;
	
}


.ser-footer{
	  direction: rtl;
}


.ser-footer ul{
	  padding: 0;
  list-style-type: none;
}

.ser-footer ul li{
	  float: right;
  width: 50%;
  padding: 0 0 10px 0;
}

.ser-footer ul li a{
	color: #fff;
}

.about-footer{
	direction: rtl;
	color: #fff;
}

.about-footer p{
	line-height:28px;
}


.copyright{
	  text-align: center;
  border-top: 1px solid #FFFFFF;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
}

.copy{
	  margin: 5px 0 5px 0;
  color: #fff;
}


.about-us{
	margin: 0 0 50px 0;
	text-align: center;
}

.about-us h3{
	border-bottom: 1px solid #CABCBC;
  padding: 0 0 10px 0;
  width: 250px;
  margin: 10px auto 25px auto;
}


.con-about{
	  line-height: 30px;
  font-size: 16px;
  margin: 0 50px;
  direction: rtl;
}

.con-about label{
	width: 100%;
}


.clients{
	direction: rtl;
	
	overflow: hidden;
	background:#fff;
		  z-index: 999;
  position: relative;
}

.clients .col-md-2{
	text-align: center;
	padding: 10px 0;
}

.item-client{
	border: 1px solid #ddd;
	overflow: hidden;
	  margin: 30px;
}

.item-client img{
	  height: 100px;
}


.tit-cl{
	margin: 10px 30px 0;
  background-color: #D70000;
  width: 200px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  padding: 15px 0 14px 0;
  border-radius: 5px;
}

.photo-gallry{
padding: 25px 0 50px 0;
overflow: hidden;	
text-align: center;
}


.photo-gallry p{
  margin: 0 auto 50px auto;
  border-bottom: 1px solid #ddd;
  padding: 0 0 10px 0;
  width: 350px;
}

.photo-gallry .col-md-3 img{
  width: 100%;
  height: 150px;
  
  margin: 0 0 30px 0;
}


.contact-us{
	margin: 0 0 50px 0;
	text-align: center;
}

.contact-us h3{
	border-bottom: 1px solid #CABCBC;
  padding: 0 0 10px 0;
  width: 250px;
  margin: 10px auto 25px auto;
}

.map{
	border: 4px solid #ddd;
    height: 258px;
}



.lang{
	float: right;
  margin: 2px 25px 0 0;
}

.lang a{
	color: #fff;
}